@charset "utf-8";

/* common */

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  margin: 0 auto;
  color: #111;
  text-align: center;
  background: url(free\ mannga-1.jpeg) repeat-x center bottom;
  padding-top: 64px;
  opacity: .5;
}

h2 {
  margin: 0;
  font-weight: normal;
  text-align: center;
  color: red;
  padding: 32px 0;
}

main {
  padding: 20px;
}

a:hover {
  opacity: 0.7;
}

.blog-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px; /* 画像とテキストの間のスペース */
  margin-bottom: 20px; /* 各ブログポストの間のスペース */
}

.blog-post div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blog-post .blog-image {
  width: 100%;
  max-width: 300px; /* 画像の最大幅を指定 */
  height: auto /* 画像のアスペクト比を保持 */
}

.blog-post .blog-content  {
  max-width: 600px; /* テキストの最大幅を指定 */
}



h3 {
  font-weight: normal;
  color: rgb(31, 75, 207);
  margin: 0;
}

p {
 text-align: left;
}



/* スマホ用 */

/* @media (max-width: 600px) {
  .blog-post {
      flex-direction: column;
      align-items: center;
  }
  .blog-image {
      max-width: none;
      width: 80%;
  }
  .blog-content {
      text-align: center;
  }
} */

@media (min-width: 600px) {
  .blog-post {
      flex-direction: row;
      align-items: flex-start;
  }

  .blog-post div {
      align-items: center;
  }

  .blog-post .blog-content {
      margin-left: 20px; /* 画像とテキストの間に余白を追加 */
  }
}


/* footer */

footer {
  background: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

small {
  font-size: 14px;
}